.Images {
    width: 60%;
    margin-right: 1%;
    margin-left: 1%;
    height: 100%;
    flex-wrap: wrap;
}

.ImageContainer {
    position: relative;
    width: calc(20% - 10px);
    margin: 5px 5px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.Selected {
    -moz-box-shadow:    inset 0 0 40px #000000;
    -webkit-box-shadow: inset 0 0 40px #000000;
    box-shadow:         inset 0 0 40px #000000;
    opacity: 20%;
}

.ImageContainer:hover {
    outline: solid yellow 5px;
}

.ImageContainer:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}