<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/images_styles.css">
  <link rel="stylesheet" href="/css/bootstrap.css">

  <title>Bootstrap example</title>
</head>
<body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.bundle.js"></script>

<div class="row">
  <div class="col">

<table>
  <tr>
    <td class="img"></td>
    <td class="img"></td>
    <td class="img"></td>
  </tr>
  <tr>
    <td class="img"></td>
    <td class="img"></td>
    <td class="img"></td>
  </tr>
  <tr>
    <td class="img"></td>
    <td class="img"></td>
    <td class="img"></td>
  </tr>
</table>
  </div>

  <div class="col">
    <p>Can you guess which image I'm thinking of? Ask questions to find out:</p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Is there <input type="text" class="topic"/> in my image?
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Is my image about <input type="text" class="topic"/> ?</a>
        <a class="dropdown-item" href="#">Does my image look like <input type="text" class="topic"/> ?</a>
      </div>
    </div>
    <button class="btn btn-secondary" id="ask">Ask!</button>
    <br>
    <p>Opponent asked:</p>
    <p>Does my image contain cats?</p>

    <button class="btn btn-secondary" id="yes">Yes</button>
    <button class="btn btn-secondary" id="no">No</button>
    <button class="btn btn-secondary" id="idk">I don't know...</button>
  </div>
  <div class="col" id="opponent">
    <p>Opponent's image:</p>
  </div>

</div>


<script src="/js/images.js"></script>
<script src="/js/dropdown.js"></script>

</body>
</html>



